* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  height: 80px;
  padding: 0 2rem;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-header{
    display: flex;
}